---
import Layout from "../layouts/Layout.astro"
import Fotobra from "../components/Fotobra.astro"
import imagen1 from "../img/abst/foto01.jpg"
import imagen2 from "../img/abst/foto02.jpg"
import imagen3 from "../img/abst/foto03.jpg"
import imagen4 from "../img/abst/foto04.jpg"
import imagen5 from "../img/abst/foto05.jpg"
import imagen6 from "../img/abst/foto06.jpg"
import imagen7 from "../img/abst/foto07.jpg"
import imagen8 from "../img/abst/foto08.jpg"
import imagen9 from "../img/abst/foto09.jpg"
import imagen10 from "../img/abst/foto10.jpg"
import imagen11 from "../img/abst/foto11.jpg"
import imagen12 from "../img/abst/foto12.jpg"
import imagen13 from "../img/abst/foto13.jpg"
import imagen14 from "../img/abst/foto14.jpg"
import imagen15 from "../img/abst/foto15.jpg"
import imagen16 from "../img/abst/foto16.jpg"
import imagen17 from "../img/abst/foto17.jpg"
import imagen18 from "../img/abst/foto18.jpg"
import imagen19 from "../img/abst/foto19.jpg"
import imagen20 from "../img/abst/foto20.jpg"
import imagen21 from "../img/abst/foto21.jpg"
import imagen22 from "../img/abst/foto22.jpg"
import imagen23 from "../img/abst/foto23.jpg"
import imagen24 from "../img/abst/foto24.jpg"


---
<body>
     <div class="imagenes">
      <Fotobra 
      imagen={imagen1}
      descripcion="lomography 800 - pentax K1000 - 2021"
      />
            <Fotobra 
      imagen={imagen2}
      descripcion="lomography purple - pentax K1000 - 2021"
      />
            <Fotobra 
      imagen={imagen3}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
            <Fotobra 
      imagen={imagen4}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
            <Fotobra 
      imagen={imagen5}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
                  <Fotobra 
      imagen={imagen6}
      descripcion="lomography 800 - pentax K1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen7}
      descripcion="kodakvision 500t - pentax sp5000 - 2021"
      />
                  <Fotobra 
      imagen={imagen8}
      descripcion="kodak trix 400 - pentax k1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen9}
      descripcion="fuji provia 100 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen10}
      descripcion="fuji provia 100 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen11}
      descripcion="fuji eterna500t - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen12}
      descripcion="solaris100 - pentax K1000 - 2023"
      />
                  <Fotobra 
      imagen={imagen13}
      descripcion="solaris100 - pentax K1000 - 2023"
      />
                  <Fotobra 
      imagen={imagen14}
      descripcion="cinestill 800 - lomokino - 2023"
      />
                  <Fotobra 
      imagen={imagen15}
      descripcion="fuji eterna 500t - pentax K1000 - 2025"
      />
                  <Fotobra 
      imagen={imagen16}
      descripcion="?? - cannonAF - 2020"
      />
                  <Fotobra 
      imagen={imagen17}
      descripcion="kodak 200 - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen18}
      descripcion="kodak 200 - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen19}
      descripcion="fuji eterna 500t - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen20}
      descripcion="kodak 200 - ?? - 2018 "
      />
                  <Fotobra 
      imagen={imagen21}
      descripcion="kodakvision 500t - pentax K1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen22}
      descripcion="kodak portra 800 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen23}
      descripcion="proimage100 - ?? - 2020"
      />
                  <Fotobra 
      imagen={imagen24}
      descripcion="proimage100 - voigtlander vitoret - 2021"
      />
    </div>
</body>  

<style>
  body {
  margin: 0;
  background-color: black;
}
.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 2%;
}
</style>