---
import Layout from "../layouts/Layout.astro"
import Fotobra from "../components/Fotobra.astro"
import imagen1 from "../img/abst/foto01.jpg"
import imagen2 from "../img/abst/foto02.jpg"
import imagen3 from "../img/abst/foto03.jpg"
import imagen4 from "../img/abst/foto04.jpg"
import imagen5 from "../img/abst/foto05.jpg"
import imagen6 from "../img/abst/foto06.jpg"
import imagen7 from "../img/abst/foto07.jpg"
import imagen8 from "../img/abst/foto08.jpg"
import imagen9 from "../img/abst/foto09.jpg"
import imagen10 from "../img/abst/foto10.jpg"
import imagen11 from "../img/abst/foto11.jpg"
import imagen12 from "../img/abst/foto12.jpg"
import imagen13 from "../img/abst/foto13.jpg"
import imagen14 from "../img/abst/foto14.jpg"
import imagen15 from "../img/abst/foto15.jpg"
import imagen16 from "../img/abst/foto16.jpg"
import imagen17 from "../img/abst/foto17.jpg"
import imagen18 from "../img/abst/foto18.jpg"
import imagen19 from "../img/abst/foto19.jpg"
import imagen20 from "../img/abst/foto20.jpg"
import imagen21 from "../img/abst/foto21.jpg"
import imagen22 from "../img/abst/foto22.jpg"
import imagen23 from "../img/abst/foto23.jpg"
import imagen24 from "../img/abst/foto24.jpg"
import imagen25 from "../img/abst/foto25.jpg"
import imagen26 from "../img/abst/foto26.jpg"
import imagen27 from "../img/abst/foto27.jpg"
import imagen28 from "../img/abst/foto28.jpg"
import imagen29 from "../img/abst/foto29.jpg"
import imagen30 from "../img/abst/foto30.jpg"
import imagen31 from "../img/abst/foto31.jpg"
import imagen32 from "../img/abst/foto32.jpg"
import imagen33 from "../img/abst/foto33.jpg"
import imagen34 from "../img/abst/foto34.jpg"
import imagen35 from "../img/abst/foto35.jpg"
import imagen36 from "../img/abst/foto36.jpg"

---
<body>
     <div class="imagenes">
      <Fotobra 
      imagen={imagen1}
      descripcion="lomography 800 - pentax K1000 - 2021"
      />
            <Fotobra 
      imagen={imagen2}
      descripcion="lomography purple - pentax K1000 - 2021"
      />
            <Fotobra 
      imagen={imagen3}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
            <Fotobra 
      imagen={imagen4}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
            <Fotobra 
      imagen={imagen5}
      descripcion="lomography metropolis - pentax sp500 - 2021"
      />
                  <Fotobra 
      imagen={imagen6}
      descripcion="lomography 800 - pentax K1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen7}
      descripcion="kodakvision 500t - pentax sp5000 - 2021"
      />
                  <Fotobra 
      imagen={imagen8}
      descripcion="kodak trix 400 - pentax k1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen9}
      descripcion="fuji provia 100 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen10}
      descripcion="fuji provia 100 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen11}
      descripcion="fuji eterna500t - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen12}
      descripcion="solaris100 - pentax K1000 - 2023"
      />
                  <Fotobra 
      imagen={imagen13}
      descripcion="solaris100 - pentax K1000 - 2023"
      />
                  <Fotobra 
      imagen={imagen14}
      descripcion="cinestill 800 - lomokino - 2023"
      />
                  <Fotobra 
      imagen={imagen15}
      descripcion="fuji eterna 500t - pentax K1000 - 2025"
      />
                  <Fotobra 
      imagen={imagen16}
      descripcion="?? - cannonAF - 2020"
      />
                  <Fotobra 
      imagen={imagen17}
      descripcion="kodak 200 - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen18}
      descripcion="kodak 200 - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen19}
      descripcion="fuji eterna 500t - voigtlander vitoret - 2020"
      />
                  <Fotobra 
      imagen={imagen20}
      descripcion="kodak 200 - ?? - 2018 "
      />
                  <Fotobra 
      imagen={imagen21}
      descripcion="kodakvision 500t - pentax K1000 - 2021"
      />
                  <Fotobra 
      imagen={imagen22}
      descripcion="kodak portra 800 - pentax sp500 - 2022"
      />
                  <Fotobra 
      imagen={imagen23}
      descripcion="proimage100 - ?? - 2020"
      />
                  <Fotobra 
      imagen={imagen24}
      descripcion="proimage100 - voigtlander vitoret - 2021"
      />
      <Fotobra 
      imagen={imagen25}
      descripcion="proimage100 - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen26}
      descripcion="proimage100 - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen27}
      descripcion="fujieterna 500t - voigtlander vitoret - 2021"
      />
      <Fotobra 
      imagen={imagen28}
      descripcion="fujieterna 500t - voigtlander vitoret - 2021"
      />
      <Fotobra 
      imagen={imagen29}
      descripcion="fujieterna 500t - voigtlander vitoret - 2021"
      />
      <Fotobra 
      imagen={imagen30}
      descripcion="fujieterna 500t - voigtlander vitoret - 2021"
      />
      <Fotobra 
      imagen={imagen31}
      descripcion="? - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen32}
      descripcion="? - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen33}
      descripcion="? - mitsuca- 2021"
      />
      <Fotobra 
      imagen={imagen34}
      descripcion="? - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen35}
      descripcion="? - mitsuca - 2021"
      />
      <Fotobra 
      imagen={imagen36}
      descripcion="? - mitsuca - 2021"
      />
    </div>
      <div id="lightbox" class="lightbox">
    <button class="lightbox-close" aria-label="Cerrar imagen">&times;</button>
    <img id="lightbox-img" src="" alt="" />
    <p></p>
  </div>

  <script>
    const images = document.querySelectorAll('.imagenes img');
    const lightbox = document.getElementById('lightbox');
    const lightboxImg = document.getElementById('lightbox-img');
    const lightboxClose = document.querySelector('.lightbox-close');

    images.forEach((img) => {
      img.addEventListener('click', () => {
        lightboxImg.src = img.src;
        lightbox.classList.add('is-open');
      });
    });

    const closeLightbox = () => {
      lightbox.classList.remove('is-open');
      lightboxImg.src = '';
    };

    lightboxClose.addEventListener('click', closeLightbox);

    
    lightbox.addEventListener('click', (e) => {
      if (e.target === lightbox) {
        closeLightbox();
      }
    });

  </script>
          <footer>
            <nav class="menu">
                  <a href="/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M1 12h9V8h1V6h-1v1H1V6H0v2h1Zm0-6h1V5H1Zm1 5V8h7v3H7V9H4v2Zm3 0v-1h1v1ZM2 5h1V4H2Zm7 1h1V1H7v2H3v1h5V2h1v2H8v1h1Zm0 0"/></svg>
                  </a>
                  <a href="/bio/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M9 5h1V1H9v1H8v1h1Zm-8 6h1v-1H1Zm-1-1h1V5H0Zm2 2h7v-1H2Zm2-2h3V9H6V8H5v1H4ZM3 7h1V5H3ZM1 5h1V3h1V2H2V1H1Zm8 6h1v-1H9ZM7 7h1V5H7ZM3 4h5V3H3Zm7 6h1V5h-1Zm0 0"/></svg>
                  </a>
                  <a href="/calles/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M0 12h11v-1H9v-1h1V9H8V8h1V2H8v3H3V2H2v6h1v1H1v1h1v1H0Zm3-1v-1h5v1Zm1-2V8h3v1ZM3 7V6h1v1Zm4 0V6h1v1ZM5 3h1V2h2V1H3v1h2Zm0 0"/></svg>
                  </a>
                  <a href="/vivos/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M5 11h3v-1h1V4h1V3H9V1H8v7H6v1h1v1H6V9H5Zm-5 1h3v-1h1V5h1V4H4V2H3v7H1v1h1v1H1v-1H0Zm5-5h1V5H5Zm5-1h1V4h-1Zm0 0"/></svg>  
                  </a>
            </nav>
      </footer>
</body>  

<style>
  body {
  margin: 0;
  background-color: black;
}
.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 2%;
}
footer {
  width: 100%;
  background-color: #000000; 
  padding: 1rem;     
  font-size: 3rem; 
}

.menu {
  display: flex;
  justify-content: center; 
  gap: 5rem;               
}

.menu a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  transition: 0.2s;
}

.flota {
  display: inline-block;         
  text-decoration: none;
  animation: float 2s ease-in-out infinite; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-1rem);
  }
}

.menu a:hover {
  color: #ffffff; 
}
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .lightbox.is-open {
    display: flex;
  }

  .lightbox img {
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
  }

  .lightbox-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
  }
</style>