---
import Layout from "../layouts/Layout.astro"
import Fotobra from "../components/Fotobra.astro"
import calle1 from "../img/calle/call01.jpg"
import calle2 from "../img/calle/call02.jpg"
import calle3 from "../img/calle/call03.jpg"
import calle4 from "../img/calle/call04.jpg"
import calle5 from "../img/calle/call05.jpg"
import calle6 from "../img/calle/call06.jpg"
import calle7 from "../img/calle/call07.jpg"
import calle8 from "../img/calle/call08.jpg"
import calle9 from "../img/calle/call09.jpg"
import calle10 from "../img/calle/call10.jpg"
import calle11 from "../img/calle/call11.jpg"
import calle12 from "../img/calle/call12.jpg"
import calle13 from "../img/calle/call13.jpg"
import calle14 from "../img/calle/call14.jpg"
import calle15 from "../img/calle/call15.jpg"
import calle16 from "../img/calle/call16.jpg"
import calle17 from "../img/calle/call17.jpg"
import calle18 from "../img/calle/call18.jpg"
import calle19 from "../img/calle/call19.jpg"
import calle20 from "../img/calle/call20.jpg"
import calle21 from "../img/calle/call21.jpg"
import calle22 from "../img/calle/call22.jpg"
import calle23 from "../img/calle/call23.jpg"
import calle24 from "../img/calle/call24.jpg"

---
<body>
     <div class="imagenes">
      <Fotobra 
      imagen={calle1}
      descripcion="tren sarmiento - "
      />
            <Fotobra 
      imagen={calle2}
      descripcion="24 de marzo - lomo redscale 2024"
      />
            <Fotobra 
      imagen={calle3}
      descripcion="24 de marzo - lomo redscale 2024"
      />
            <Fotobra 
      imagen={calle4}
      descripcion="24 de marzo - lomo redscale 2024"
      />
            <Fotobra 
      imagen={calle5}
      descripcion="24 de marzo - proimage100 2022"
      />
                  <Fotobra 
      imagen={calle6}
      descripcion="24 de marzo - proimage100 2022"
      />
                  <Fotobra 
      imagen={calle7}
      descripcion="marcha universitaria - fujieterna500t 2025"
      />
                  <Fotobra 
      imagen={calle8}
      descripcion="24 de marzo - proimage100 2022"
      />
                  <Fotobra 
      imagen={calle9}
      descripcion="24 de marzo - proimage100 2022"
      />
                  <Fotobra 
      imagen={calle10}
      descripcion="24 de marzo - proimage100 2022"
      />
                  <Fotobra 
      imagen={calle11}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle12}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle13}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle14}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle15}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle16}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle17}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle18}
      descripcion="24 de marzo - fujieterna500t 2022"
      />
                  <Fotobra 
      imagen={calle19}
      descripcion="24 de marzo - ¿? 2023"
      />
                  <Fotobra 
      imagen={calle20}
      descripcion="24 de marzo - ¿? 2023"
      />
                  <Fotobra 
      imagen={calle21}
      descripcion="24 de marzo - ¿? 2023"
      />
                  <Fotobra 
      imagen={calle22}
      descripcion="boulevard perón, moreno - fuji vivid 2023"
      />
                  <Fotobra 
      imagen={calle23}
      descripcion="marcha por la cultura - fuji vivid 2023"
      />
                  <Fotobra 
      imagen={calle24}
      descripcion="24 de marzo - lomo redscale 2024"
      />
    </div>
</body>  

<style>
  body {
  margin: 0;
  background-color: black;
}
.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 2%;
}
</style>