---
import Layout from "../layouts/Layout.astro"
import Fotobra from "../components/Fotobra.astro"
import vivo1 from "../img/viv/viv01.jpg"
import vivo2 from "../img/viv/viv02.jpg"
import vivo3 from "../img/viv/viv03.jpg"
import vivo4 from "../img/viv/viv04.jpg"
import vivo5 from "../img/viv/viv05.jpg"
import vivo6 from "../img/viv/viv06.jpg"
import vivo7 from "../img/viv/viv07.jpg"
import vivo8 from "../img/viv/viv08.jpg"
import vivo9 from "../img/viv/viv09.jpg"
import vivo10 from "../img/viv/viv10.jpg"
import vivo11 from "../img/viv/viv11.jpg"
import vivo12 from "../img/viv/viv12.jpg"
import vivo13 from "../img/viv/viv13.jpg"
import vivo14 from "../img/viv/viv14.jpg"
import vivo15 from "../img/viv/viv15.jpg"
import vivo16 from "../img/viv/viv16.jpg"
import vivo17 from "../img/viv/viv17.jpg"
import vivo18 from "../img/viv/viv18.jpg"
import vivo19 from "../img/viv/viv19.jpg"
import vivo20 from "../img/viv/viv20.jpg"
import vivo21 from "../img/viv/viv21.jpg"
import vivo22 from "../img/viv/viv22.jpg"
import vivo23 from "../img/viv/viv23.jpg"
import vivo24 from "../img/viv/viv24.jpg"

---
<body>
     <div class="imagenes">
      <Fotobra 
      imagen={vivo1}
      descripcion="bestia bebé - kodakvision500t - 2019"
      />
            <Fotobra 
      imagen={vivo2}
      descripcion="pirotecnia - solaris100 - 2025"
      />
            <Fotobra 
      imagen={vivo3}
      descripcion="satélite cenicienta - kodakvision500t - 2024"
      />
            <Fotobra 
      imagen={vivo4}
      descripcion="king krule - lomo redscale - 2024"
      />
            <Fotobra 
      imagen={vivo5}
      descripcion="maeri - cinestill 800 - 2023"
      />
                  <Fotobra 
      imagen={vivo6}
      descripcion="nieblamatinal - cinestill 800 - 2023"
      />
                  <Fotobra 
      imagen={vivo7}
      descripcion="bestia bebé - lomo800 - 2021"
      />
                  <Fotobra 
      imagen={vivo8}
      descripcion="la real academia - fuji provia - 2022"
      />
                  <Fotobra 
      imagen={vivo9}
      descripcion="winona riders - lomo b&w - 2022"
      />
                  <Fotobra 
      imagen={vivo10}
      descripcion="gaby caniza - cinestill 800 - 2022"
      />
                  <Fotobra 
      imagen={vivo11}
      descripcion="el jardin es un desastre - cinestill 800 - 2022"
      />
                  <Fotobra 
      imagen={vivo12}
      descripcion="the drums - fuji eterna 500t - 2022"
      />
                  <Fotobra 
      imagen={vivo13}
      descripcion="extras - fuji eterna 500t - 2022"
      />
                  <Fotobra 
      imagen={vivo14}
      descripcion="extras - fuji eterna 500t - 2022"
      />
                  <Fotobra 
      imagen={vivo15}
      descripcion="marilina bertoldi - pro image 100 - 2022"
      />
                  <Fotobra 
      imagen={vivo16}
      descripcion="bestia bebe - lomography 800 - 2021"
      />
                  <Fotobra 
      imagen={vivo17}
      descripcion="fuji provia 100 - salas tifon - 2021"
      />
                  <Fotobra 
      imagen={vivo18}
      descripcion="la real academia - fuji eterna 500t - 2021"
      />
                  <Fotobra 
      imagen={vivo19}
      descripcion="festipeluk - fuji eterna 500t - 2021"
      />
                  <Fotobra 
      imagen={vivo20}
      descripcion="debút la real academia - lomo 800 - 2021"
      />
                  <Fotobra 
      imagen={vivo21}
      descripcion="L.O.D.G. - lomo 800 - 2021"
      />
                  <Fotobra 
      imagen={vivo22}
      descripcion="los bilis - lomo metropolis - 2021"
      />
                  <Fotobra 
      imagen={vivo23}
      descripcion="los bilis - lomo metropolis - 2021"
      />
                  <Fotobra 
      imagen={vivo24}
      descripcion="el club audiovisual - lomo metropolis - 2021"
      />
    </div>
    <div id="lightbox" class="lightbox">
    <button class="lightbox-close" aria-label="Cerrar imagen">&times;</button>
    <img id="lightbox-img" src="" alt="" />
    <p></p>
  </div>

  <script>
    const images = document.querySelectorAll('.imagenes img');
    const lightbox = document.getElementById('lightbox');
    const lightboxImg = document.getElementById('lightbox-img');
    const lightboxClose = document.querySelector('.lightbox-close');

    images.forEach((img) => {
      img.addEventListener('click', () => {
        lightboxImg.src = img.src;
        lightbox.classList.add('is-open');
      });
    });

    const closeLightbox = () => {
      lightbox.classList.remove('is-open');
      lightboxImg.src = '';
    };

    lightboxClose.addEventListener('click', closeLightbox);

    
    lightbox.addEventListener('click', (e) => {
      if (e.target === lightbox) {
        closeLightbox();
      }
    });

  </script>
                      <footer>
                        <nav class="menu">
                  <a href="/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M1 12h9V8h1V6h-1v1H1V6H0v2h1Zm0-6h1V5H1Zm1 5V8h7v3H7V9H4v2Zm3 0v-1h1v1ZM2 5h1V4H2Zm7 1h1V1H7v2H3v1h5V2h1v2H8v1h1Zm0 0"/></svg>
                  </a>
                  <a href="/bio/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M9 5h1V1H9v1H8v1h1Zm-8 6h1v-1H1Zm-1-1h1V5H0Zm2 2h7v-1H2Zm2-2h3V9H6V8H5v1H4ZM3 7h1V5H3ZM1 5h1V3h1V2H2V1H1Zm8 6h1v-1H9ZM7 7h1V5H7ZM3 4h5V3H3Zm7 6h1V5h-1Zm0 0"/></svg>
                  </a>
                  <a href="/abstractos/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><path fill="currentColor" d="M8 7H7v2H6v1h1v1h1Zm0 0h1V6h1V5H7V4H6v2h2Zm-8 5h1v-1H0Zm1-1h1v-1H1Zm2 0h1v-1h1V9H4V7H3Zm2-2h1V8H5ZM2 7h1V6h2V4H4v1H1v1h1ZM1 4h1V3H1ZM0 3h1V2H0Zm10 9h1v-1h-1Zm-1-1h1v-1H9ZM5 4h1V2H5Zm4 0h1V3H9Zm1-1h1V2h-1Zm0 0"/></svg>  
                  </a>
                  <a href="/calles/">
                        <svg class="flota" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 12 12"><!-- Icon from Dinkie Icons by atelierAnchor - https://github.com/atelier-anchor/dinkie-icons/blob/main/LICENSE --><path fill="currentColor" d="M0 12h11v-1H9v-1h1V9H8V8h1V2H8v3H3V2H2v6h1v1H1v1h1v1H0Zm3-1v-1h5v1Zm1-2V8h3v1ZM3 7V6h1v1Zm4 0V6h1v1ZM5 3h1V2h2V1H3v1h2Zm0 0"/></svg>
                  </a>
             </nav>
            </footer>
</body>  

<style>
  body {
  margin: 0;
  background-color: black;
}
.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 2%;
}
footer {
  width: 100%;
  background-color: #000000; 
  padding: 1rem;
  font-size: 3rem;        
}

.menu {
  display: flex;
  justify-content: center; 
  gap: 5rem;               
}

.menu a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-size: 5px;
  font-weight: 300;
  transition: 0.2s;
}
.flota {
  display: inline-block;         
  text-decoration: none;
  animation: float 2s ease-in-out infinite; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-1rem);
  }
}
.menu a:hover {
  color: #ffffff; 
}
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .lightbox.is-open {
    display: flex;
  }

  .lightbox img {
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
  }

  .lightbox-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
  }
</style>